@import "./reset.css";

:root {
  --black: #293133;
  --red: #e32636;
  --red-hover: #c41e3a;
  --green: #47a76a;
  --green-hover: #1cac78;
  --bg: #edfcfd;
  --border: #b2b2b2;
}

body {
  font-family: "Ubuntu", serif;
  background: var(--bg);
}

.app {
  width: 1200px;
  margin: 100px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px 40px;
}

.counter {
  width: 360px;
  border: 1px solid var(--border);
  border-radius: 12px;
  background: #fff;
}

.counter-header {
  border-radius: 12px 12px 0 0;
  background: var(--black);
  padding: 12px 24px;
  color: var(--bg);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.counter-body {
  padding: 48px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 1.5px solid var(--black);
  border-radius: 100%;
  cursor: pointer;
  font-weight: 500;
  font-size: 28px;
  color: #fff;
  transition: 0.2s ease;
}

.counter-number {
  font-size: 56px;
  font-weight: 700;
  color: var(--black);
}

.decrement {
  background: var(--red);
}

.decrement:hover {
  background: var(--red-hover);
}

.increment {
  background: var(--green);
}

.increment:hover {
  background: var(--green-hover);
}
